@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'LuxuriousScript';
  src: url('/fonts/Luxurious_Script/LuxuriousScript-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'MarckScript';
  src: url('/fonts/Marck_Script/MarckScript-Regular.ttf');
  src: url();
}

@font-face {
  font-family: 'PetitFormalScript';
  src: url('/fonts/Petit_Formal_Script/PetitFormalScript-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'PinyonScript';
  src: url('/public/fonts/Pinyon_Script/PinyonScript-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'CherrySwash';
  src: url('/fonts/Cherry_Swash/CherrySwash-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'CherrySwash';
  src: url('/fonts/Cherry_Swash/CherrySwash-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'ChopinScript';
  src: url('/fonts/Chopin_Script/ChopinScript-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'SeptemberScript';
  src: url('/fonts/September_Script/SeptemberScript-Regular.ttf') format('truetype');
  font-weight: normal;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
